@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Genre : @Model.Genre.Name</li>
    <li>Release Date : @Model.ReleasedDate.Date.ToString("D")</li>
    <li>Date Added : @Model.AddedToDatabaseDate.Date.ToString("D")</li>
    <li>Number in Stock : @Model.Stock.ToString()</li>
</ul>

